body{
    margin-top: 10vh;
}

.small-hero{
    min-height: 45vh;
    width: 100%;
    background: linear-gradient(to top, rgba(245, 245, 245, 0.99), rgba(245, 245, 245, 0.1)), url("../images/bg-tri.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-hero .small-hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.small-hero-content .hero-title{
    font-size: 40px;
    color: #232323;
    font-weight: 700;
    margin-bottom: 20px;
}

.small-hero-content .hero-description{
    font-size: 21px;
    color: #444;
    text-align: center;
    font-weight: 400;
}

.services{
    min-height: 120vh;
    background-color: #F6F6F6;
    padding: 3% 10%;
}

.services-content{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.service-card{
    width: 350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fdfdfd;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 20px 40px;
    color: #232323;
    transition: all 0.2s ease 0s;
}

.service-card .service-icon{
    border: 2px solid #343434;
    border-radius: 50%;
    padding: 20px 25px;
    box-shadow: inset 0 0 10px #3434344a;
    margin-bottom: 15px;
    transition: all 0.2s ease 0s;
}

.service-card .service-icon .fa-solid{
    color: #343434;
    font-size: 30px;
    transition: all 0.2s ease 0s;
}

.card-title{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 10px;
}

.service-card .card-description{
    font-size: 16.5px;
    text-align: justify;
    flex: 1;
}

.service-card .start-btn{
    padding: 10px 30px;
    background-color: #48e;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 20px;
    align-self: center;
    cursor: pointer;
}

.service-card .fa-arrow-right{
    margin-left: 5px;
}

.service-card:hover{
    background: rgba(68, 136, 238, 0.88);
    color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transform: translateY(-20px);
}
 
.service-card:hover .service-icon{
    border: none;
    box-shadow: inset 0 0 15px #3434346b;
}

.service-card:hover .service-icon .fa-solid{
    color: #fff;
}
 
.service-card:hover .start-btn{
    background-color: #fff;
    color: #232323;
}

.service-card .start-btn:hover{
    box-shadow: 0 0 0 8px #ffffff5a;
    
}

.details{
    margin-top: 8rem;
    width: 100%;
    min-height: 125vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-title{
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 60px;
    width: fit-content;
    position: relative;
}

.details-title::before{
    content: "";
    position: absolute;
    background-color: #848484;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    bottom: -5px;
    left: 0;
}

.details-content{
    display: flex;
    width: 100%;
    gap: 30px;
}

.detail-cards{
    flex: 0.7;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-card {
    width: 100%;
    overflow: hidden;
    height: 280px;
    margin-bottom: 45px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
    padding: 30px;
}

.detail-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    background-color: rgb(65, 68, 135);
}

.detail-card:hover .detail-card-title {
    color: #f9f9f9;
    border-bottom: 2px solid #f9f9f9;
}

.detail-card:hover .detail-card-content{
    color: #f9f9f9;
}

.detail-card-title {
    font-size: 24px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 2px solid #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
}

.detail-card-content {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    text-align: justify;
}

.detail-v-cards{
    flex: 0.9;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.v-card{
    height: 451px;
    border-radius: 20px;
    background-color: #232323;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    padding: 30px;
}

.v-card:hover{
    background-color: rgb(57, 60, 152);
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}


.v-title{
    font-size: 24px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
}

.v-text{
    font-size: 18px;
    color: #dedede;
    line-height: 1.6;
    text-align: justify;
}

.v-text.sm-text{
    font-size: 16px;
}

.table{
    width: 100%;
    border-spacing: 15px;
}

.table tr td, th{
    color: #dedede;
    vertical-align: top;
    padding: 10px;
    border-bottom: 1px solid #dedede;
    text-align: justify;
}

.table2{
    table-layout: fixed;
}

.table2 tr td{
    border: none;
}

@media screen and (max-width: 1180px){
    .small-hero-content .hero-title{
        font-size: 35px;
    }
    .small-hero-content .hero-description{
        font-size: 19px;
    }
    .services{
        padding: 3% 4%;
    }
    .service-card{
        width: 280px;
        height: 400px;
        padding: 20px 30px;
    }
    .service-card .service-icon{
        border: 1.5px solid #343434;
    }
    .service-card .service-icon .fa-solid{
        font-size: 24px;
    }
    .card-title{
        font-size: 24px;
    }
    .service-card .card-description{
        font-size: 16px;
    }
    .service-card .start-btn{
        font-size: 15.5px;
    }
    .detail-cards{
        flex: 0.8;
    }
    .detail-v-cards{
        flex: 1;
    }
    .details-title{
        font-size: 33px;
    }
    .detail-card{
        height: fit-content;
    }
    .detail-card-title{
        font-size: 21px;
    }
    .detail-card-content{
        font-size: 16px;
    }
    .v-card{
        height: fit-content;
    }
    .v-title{
        font-size: 21px;
    }
    .v-text{
        font-size: 15px;
    }
    .v-text.sm-text{
        font-size: 15px;
    }

    .table tr td,th{
        font-size: 14.5px;
    }

}

@media screen and (max-width: 950px){
    .small-hero-content .hero-title{
        font-size: 33px;
    }
    .small-hero-content .hero-description{
        font-size: 17px;
    }
    .services-cards{
        flex-direction: column;
        gap: 30px;
    }
    .service-card{
        width: 60%;
        height: fit-content;
        padding: 20px 30px;
        
    }
    .service-card .service-icon{
        border: 1.5px solid #343434;
    }
    .service-card .service-icon .fa-solid{
        font-size: 23px;
    }
    .card-title{
        font-size: 22px;
    }
    .service-card .card-description{
        font-size: 16px;
    }
    .service-card .start-btn{
        margin-top: 20px;
        padding: 12px 35px;
        font-size: 15px;
    }
    .details-content{
        flex-direction: column;
    }
    .detail-cards{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .detail-v-cards{
        flex: 1;
        align-items: center;
        justify-content: center;
    }
    .details-title{
        font-size: 30px;
    }
    .detail-card{
        height: fit-content;
        width: 80%;
    }
    .detail-card-title{
        font-size: 21px;
    }
    .detail-card-content{
        font-size: 16px;
    }
    .v-card{
        width: 80%;
    }
    .v-title{
        font-size: 20px;
    }
    .v-text{
        font-size: 14.5px;
    }
    .v-text.sm-text{
        font-size: 14.5px;
    }
    .v-card.lg-card{
        height: fit-content
    }
    .v-card.v-card-lg{
        height: fit-content;
    }
    .table tr td,th{
        font-size: 14px;
    }

}

@media screen and (max-width: 750px){
    .services{
        min-height: 450vh;
    }
    .small-hero .small-hero-content{
        width: 70%;
    }
    .small-hero-content .hero-title{
        font-size: 32px;
    }
    .small-hero-content .hero-description{
        font-size: 17px;
    }
    .card-title{
        font-size: 22px;
    }
    .service-card .card-description{
        font-size: 16px;
    }
    .service-card .start-btn{
        margin-top: 30px;
        font-size: 16px;
    }
    .detail-card{
        height: fit-content;
        width: 90%;
    }
    .v-card{
        width: 90%;
    }
    .detail-card-content{
        font-size: 16px;
        font-weight: 400;
    }
    .v-title{
        font-size: 21px;
    }
    .v-text{
        font-size: 15px;
    }
    .v-text.sm-text{
        font-size: 15px;
    }
    .table tr td,th{
        vertical-align: middle;
        text-align: left;
        font-size: 15px;
    }
    .table2 thead {
        display: none;
    }
    
    .table2 tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        padding: 0;
    }
    
    .table2 td {
        display: block;
        padding: 0;
        margin-bottom: 15px;
        font-size: 14px;
    }
    
    .table2 td::before {
        content: attr(data-label);
        font-weight: bold;
        font-size: 18px;
        display: block;
        margin-bottom: 0.5rem;
        color: #fff;
    }
    
}

@media screen and (max-width: 500px){
    .services{
        min-height: 480vh;
    }
    .small-hero .small-hero-content{
        width: 80%;
    }
    .small-hero-content .hero-title{
        font-size: 31px;
    }
    .small-hero-content .hero-description{
        font-size: 16.5px;
    }
    .details-content{
        margin-bottom: 70px;
    }
    .service-card{
        width: 80%;
    }
    .service-card .card-description{
        font-size: 15.5px;
    }
    .service-card .start-btn{
        margin-top: 30px;
        font-size: 15px;
    }
}

@media screen and (max-width: 420px){
    body{
        margin-top: 6vh;
    }
    .small-hero .small-hero-content{
        width: 90%;
    }
    .small-hero-content .hero-title{
        font-size: 26px;
    }
    .small-hero-content .hero-description{
        font-size: 15px;
    }
    .details-title{
        font-size: 24px;
    }
    .detail-v-cards .v-card.lg-card .table{
        width: 80%;
        border-spacing: 5px;
    }
    .card-title{
        font-size: 21px;
    }
    .service-card .card-description{
        font-size: 15.5px;
    }
    .service-card .start-btn{
        font-size: 15px;
    }
    .v-title{
        font-size: 20px;
    }
    .table-stack,
    .table-stack tr,
    .table-stack td {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .table-stack tr {
        margin-bottom: 15px;
        padding: 10px;
    }

    .table-stack td {
        border: none;
        border-bottom: 1px solid #eee;
        padding: 8px;
        text-align: left;
        font-size: 13px;
    }
    .table2 tr td {
        display: block;
        padding: 0;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .table2 tr td::before {
        content: attr(data-label);
        font-size: 16px;
        margin-bottom: 0.5rem;
        color: #fff;
    }

}

